.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-gap: 3px 3px;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  color: grey;
}

.grey {
  background-color: grey;
  color: white;
}
